.menu {
    background-color: rgba(0, 0, 0, 0.72);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 40px;
    line-height: 0;
    padding: 10px;
    z-index: 2;

    &-content {

        max-width: 1270px;
        margin: 0 auto;

        h1 {
            margin: 0;
            line-height: 1;
            font-size: 30px;
            text-shadow: 1px 1px 1px #676767;
            color: white;

            span {
                color: #0e78d6;
            }
        }
    }

}