.movie {
    background-image: url(/assets/images/movie.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;

    a {
        text-decoration: none;
    }

    &-rent {
        opacity: 0;
        color: white;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        background-color: rgba(0, 0, 0, 0.59);
        cursor: pointer;

        h6 {
            margin-right: 10px;
        }

        &:hover {
            opacity: 1;
        }
    }
}